* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p {
  color: black !important;
}
.statistics {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: space-between;
  /* padding: 15px; */
  padding: 15px 0 15px 0;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 13px;
}
.titles {
  color: #054a91;
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-top: 20px;
  position: relative;
}
.titles::before {
  content: " ";
  height: 3px;
  width: 380px;
  position: absolute;
  background-color: #720d1d;
  top: 45px;
  right: 20%;
  margin-bottom: 100px;
}

.tutorial {
  color: #054a91;
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}
.tutorial::before {
  content: " ";
  height: 3px;
  width: 120px;
  position: absolute;
  background-color: #720d1d;
  top: 50px;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
}
.box1_container {
  background-color: #ffffff;
  display: inline-block;
  height: 100px;
  border-radius: 5px;
  padding-top: 0 !important;
  color: black;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.12);
}
.box1_container h1 {
  text-align: center;
  color: #054a91;
}
.box1_container h4 {
  text-align: center;
  color: #054a91;
  font-size: 18px !important;
}
.chart_container {
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 10px;
}
.pie_chart {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 15px 20px 15px 20px;
  width: 48.76%;
  position: relative;
}
.lable_parent {
  position: absolute;
  top: 24px;
  right: 0px;
  overflow-y: auto;
  min-height: 400px;
}
.lable_container {
  display: flex;
}
.lable_parent::-webkit-scrollbar {
  width: 5px;
  height: 10px !important;
}

.lable_parent::-webkit-scrollbar-thumb {
  background: #054a91;
  border-radius: 6px;
}

.lable_parent::-webkit-scrollbar-thumb:hover {
  background: #720d1d;
}

.lable_parent::-webkit-scrollbar-button:start:decrement {
  display: none;
}

.lable_parent::-webkit-scrollbar-button:end:increment {
  display: none;
}

.wappper {
  position: absolute;
  top: px;
}
.bar_chart {
  padding: 15px 20px 15px 20px;
  background-color: #ffffff;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  width: 48.76%;
}
.bar_chart h3,
.bar_chart h4 {
  color: #054a91 !important;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .chart_container {
    display: block !important;
    margin-bottom: 10px;
  }
  .titles {
    margin-bottom: 0;
    margin-top: 0;
  }
  .tutorial::before {
    content: " ";
    height: 3px;
    width: 120px;
    position: absolute;
    background-color: #720d1d;
    display: none;
    top: 45px;
  }
  .pie_chart {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgb(179, 175, 175);
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    overflow: scroll;
  }
  .lable_parent {
    position: relative;
  }
  .lable_container {
    display: flex;
    justify-content: center;
  }
  .bar_chart {
    padding: 15px 20px 15px 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgb(179, 175, 175);
    border-radius: 5px;
    width: 100%;
  }
  .bar {
    width: 600px !important;
    height: 350px !important;
    background-color: green !important;
    margin-left: 100px !important;
  }
  .statistics {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgb(179, 175, 175);
    margin-top: 10px;
  }
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .titles::before {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    background-color: #720d1d;
    top: 45px;
    right: 20%;
    margin-bottom: 100px;
  }
}
/* /////////small device //////// */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bar {
    height: 2000px !important;
    width: 2000px !important;
  }
  .pie {
    width: 50% !important;
  }
}
/* ///////////medium device ///////////// */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bar_chart {
  }
  .pie_chart {
    height: 50vh !important;
  }
  .lable_parent {
    position: relative;
  }

  .lable_container {
    display: flex;
    justify-content: center;
  }
}
/* /////////////extra large device ///////////// */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .lable_parent {
    position: absolute;
    top: 22px;
    right: 20px;
  }
  .lable_box {
    height: 15px !important;
    width: 15px !important;
  }

  .lable {
    font-size: 18px;
  }
}
/* /////////////xxl device /////////////// */
@media only screen and (min-width: 1601px) and (max-width: 1900px) {
  .lable_parent {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .lable {
    font-size: 23px;
  }
  .lable_box {
    height: 25px !important;
    width: 25px !important;
  }
}

.donutchart {
  font-size: 18px !important;
  font-weight: bold !important;
  height: 100px;
}

.donutchart-arcs-path,
.donutchart-legend-item,
.donutchart-legend-item-label {
  cursor: pointer;
}

.donutchart-innertext-label {
  font-size: 14px;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  display: flex;
  flex-wrap: wrap;
}

.donutchart-innertext-value {
  font-size: 36px;
}
.donutchart-innertext-label:hover {
  font-weight: bold;
  margin: 0px;
}
.donutchart-arcs-path,
.donutchart-legend-item {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: DrawLine, FillIn;
  animation-delay: 0.5s, 2s;
  animation-duration: 3s, 1s;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: DrawLine 3s alternate-reverse 0.5s forwards,
  FillIn 1s ease-in-out 20000s forwards;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation-iteration-count: infinite;
  animation: DrawLine infinite 3s alternate-reverse 0.5s,
  FillIn 1s ease-in-out 2s forwards;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  stroke-linecap: round;
  color: red !important;
  stroke-width: 1;
}

@keyframes DrawLine {
  from {
    stroke-opacity: 1;
  }
  to {
    stroke-dashoffset: 0;
    stroke-opacity: 0.3;
  }
}

@keyframes FillIn {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}
